body {
    margin: 0; 
    padding: 0; 
    /* Optional: Sets a width and centers the content on large screens */
    width: 100%;
    /* Optional: A max-width keeps content readable on very wide screens */
    max-width: 1440px; 
    /* Centers the body block in the viewport (for max-width usage) */
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #1f2937; 
    background-color: #000;
}

.flex-container {
    display: flex;
    align-items: baseline;
}

.flex-container div {
    flex: 1;
}

#content {
    width: 100%;
    background-color: #fff;
}

#header {
    background-color: #1f2937; 
    color: #f9faf8;
    padding: 20px 200px;
}

#header-logo-txt {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.nav-link {
    color: #fff; 
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#hero, #footer {
    background-color: #1f2937; 
    color: #f9faf8;
    padding: 0 200px;
}

#hero {
    padding: 100px 200px 120px;
    align-items: stretch;
}
#hero-txt {
    margin-right: 10px;
}

#hero-title {
    font-size: 48px;  
    font-weight: 900;
    margin-bottom: 30px;
}

#hero-img {
    background-color: #777;
    text-align: center;
    margin-left: 10px;
}

#hero-subtitle {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border: none; 
    color: #fff; 
    padding: 10px 35px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px; 
}

button:active, .cta {
    background-color: #3882f6;
    color: #fff;
}

.info-container {
    padding: 20px 200px 100px;
    text-align: center;
}
.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
} 
.info-col-wrap {
    gap: 60px;
    align-items: stretch;
    margin: 0 100px;
}

.info-img {
    height: 150px;
    width: 100%;
    border: 5px solid #3882f6;
    border-radius: 12px;
    background-color: #fff;
}

.info-img-cap {
    color: #777;
}

.quote { 
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 0 100px;
}

.quote-txt {
    font: italic 300 36px ;
}

.quote-by {
    font-weight: 600;
    text-align: right;
}

