body {
    margin: 0; 
    padding: 0; 
    /* Optional: Sets a width and centers the content on large screens */
    width: 100%;
    /* Optional: A max-width keeps content readable on very wide screens */
    max-width: 1440px; 
    /* Centers the body block in the viewport (for max-width usage) */
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #1f2937; 
    background-color: #000;
}

.flex-container {
    display: flex;
    align-items: baseline;
}

.flex-container div {
    flex: 1;
}

#content {
    width: 100%;
    background-color: #fff;
}

#header {
    background-color: #1f2937; 
    color: #f9faf8;
    padding: 20px 200px;
}

#header-logo-txt {
    font-weight: 900;
    font-size: 1.3em;
    color: #f9faf8;
}

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.nav-link {
    color: #fff; 
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#hero, #footer-container {
    background-color: #1f2937; 
    color: #f9faf8;
    padding: 0 200px;
}

#hero {
    padding: 100px 200px 120px;
    align-items: stretch;
}
#hero-txt {
    margin-right: 10px;
}

#hero-title {
    font-size: 2.7em;  
    font-weight: 900;
    margin-bottom: 30px;
}

#hero-img-wrap {
    background-color: #777;
    text-align: center;
    margin-left: 10px;
}

#hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#hero-subtitle {}

button {
    background-color: #3882f6;
    border: none; 
    color: #fff; 
    padding: 8px 35px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px; 
}

button:hover, button:active {
    background-color: #fff;
    color: #3882f6;
}

.info-container {
    padding: 20px 200px 100px;
    text-align: center;
}
.info-header {
    font-size: 2em;
    font-weight: 900;
    color: #1f2937;
} 
.info-col-wrap {
    gap: 60px;
    align-items: stretch;
    margin: 0 100px;
}

.info-img {
    height: 150px;
    width: 100%;
    border: 5px solid #3882f6;
    border-radius: 12px;
    background-color: #fff;
}

.info-img-cap {
    color: #777;
}

#quote-container {
    padding: 100px 200px 120px;
    background-color: #e5e7eb;
}

.quote { 
   
    color: #1f2937;
    padding: 0 100px;
}

.quote-txt {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.4em;
}

.quote-by {
    font-weight: 600;
    text-align: right;
}

.cta-container {
    padding: 50px 200px;
}

.cta-wrap {
    border-radius: 12px; 
    background-color: #3882f6; 
    padding: 20px 80px; 
    color: #fff;
}

div.cta-txt-wrap {
    flex-grow: 5;
}

.cta-headline {
    margin-bottom: 0;
}

.cta-txt {
    margin-top: 10px;
}

.cta-btn-wrap {
    text-align: right;
}

button.inverted-btn {
    border: 2px solid #fff; 
    color: #fff; 
    margin: 0;
}

button.inverted-btn:hover, button.inverted-btn:active {
    background-color: #fff;
    color: #3882f6;
}

#footer-txt {
    padding: 30px 0;
    text-align: center;
}